a {
    text-decoration: none;
    /* Remove o sublinhado */
    color: inherit;
    /* Mantém a cor herdada do pai, caso necessário */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif!important;


}

body {
    padding-top: 0px;
    padding-right: 40px;
    padding-left: 60px;
    background-color: #964b00;

 

}

.conteudo {
    width: 100%;
    /* LARGURA */
    display: flex;
    justify-content: center;
    align-items: center;
}

.textos {
    width: 600px;
}

h2 {
    color: #333;
    /* Cor do texto */
    font-size: 60px;
    /* Tamanho do texto */
    font-weight: bold;
    /* Grossura do texto*/
}

span {
    color: #000000;
    font-size: 0.7em;
    font-weight: 900;

}
span:hover {
    color: #ffffff; /* Muda a cor do texto quando o mouse passa por cima */
}
.textos p:hover{
    color: #ffffff;
}

p {
    font-size: 25px;
}

.menu p:hover{
    color: #ffffff;
}


.imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}

.menu-inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  
}

.menu {
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;
    align-items: center;
    
}

.botao-menu {
    width: 60px;
    cursor: pointer;
    transition: 1s;
    object-fit: contain;
}

.botao-menu:hover {
    transform: translateY(-25px);
}

.logo {
    width: 170px;
    border-radius: 50%;
    overflow: hidden;
}

.logogeral {
    width: 100%;
}

.imagem-ovo {
    width: 43%;

}

nav ul {
    display: flex;
    color: #000000;
    font-size: 1.6em;
    font-weight: 900;
    padding: 5px 5px;
}

nav ul li a {
    padding: 10px 10px;
}

nav ul li a:hover {
    color: #ffffff;
    
}

.circulo {
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    right: 200px; /* Encosta no lado direito */
    width: 400px; /* Tamanho do círculo */
    height: 400px; /* Tamanho do círculo */
    background-color: rgba(35, 9, 9, 0.1); /* Cor do círculo, ajuste conforme necessário */
    border-radius: 50%; /* Faz o círculo */
    transform: translate(50%, -50%); /* Ajusta o posicionamento no lado direito */
    z-index: 1; /* Coloca o círculo abaixo da imagem */
}

.imagem-ovo {
    position: relative; /* A imagem ficará acima do círculo */
    z-index: 2; /* Garante que a imagem fique acima do círculo */
}

/* Página Produtos */

