a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor herdada do pai, caso necessário */
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "";
    
}

body {
    padding-top: 0px;
    padding-right: 40px;
    padding-left: 60px;
    background-color:#964b00;
    
}

.conteudo {
    width: 100%; /* LARGURA */
    display: flex;
    justify-content: center;
    align-items: center;
}

.textos {
    width: 600px;
}

h2 {
    color: #333; /* Cor do texto */
    font-size: 60px; /* Tamanho do texto */
    font-weight: bold; /* Grossura do texto*/
}

span {
    color: #000000;
    font-size: 0.7em;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 25px;
}

button {
    background: #017143;/* background -> fundo do elemento */
    color: white;/* cor do texto */
    border-radius: 40px;/* arredondamento da borda */
    border: none;/* borda do elemento */
    cursor: pointer;/* cursor do mouse */
    padding: 10px; /* espaçamento interno */
    margin-top: 20px;/* Cria uma margem  */
    transition: 0.5s;
}

button:hover{
    background-color: #018950;
}

.imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}

.menu-inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 70px;
   
}

.botao-menu {
    width: 60px;
    cursor: pointer;
    transition: 1s;
    object-fit: contain;
}

.botao-menu:hover{
    transform: translateY(-25px);
}
.circulo {
    background: #017143;
    height:  100%; /* Altura */
    width: 100%; /* Largura */
    position: absolute;
    top: -125px;
    left: 0;
    clip-path: circle(604px at right 768px);
    z-index: -1;
}

.logo {
    width: 170px;
    border-radius: 50%;
    overflow: hidden; 
}

.logogeral{
    width: 100%;
}

.imagem-ovo {
    width: 43%;
   
}

nav ul{
    display: flex;
    color: #000000;
    font-size: 1.0em;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px;
}

nav ul li a {
    padding: 10px 10px;
}